<div class="content-row">
hello world
  <% @targets.each do |target| %>
    <div class="card">
      <div class="card-title">
        <%= target.title %>
      </div>
      <div class="card-body">
        <%= target.description %>
        <p class="card-date">
          <%= target.due_date %>
        </p>
        <p class="card-complete">
          <%= target.completed %>
        </p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "新規投稿", new_target_path %>